# Telegram Bot Token from BotFather
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrSTUvwxYZ

# Remnawave Panel Base URL (with https://)
REMNAWAVE_API_URL=https://panel.yourdomain.com

# X-Api-Key, сгенерированный в панели Remnawave (Admin -> System -> API Tokens)
REMNAWAVE_X_API_KEY=YxOovHLnpkcmSig508...

# (Опционально) API ключ от портала Caddy, если маршрут /api закрыт авторизацией (Caddy Auth Portal -> API Keys)
# Если у вас Caddy пропускает /api напрямую, оставьте это поле пустым.
CADDY_API_KEY=2egcHnyTk8SK4dNGAFHgZ2LKZezgj5oUj2FA2IR2sMwbALnP9YNpzZ
